<div>
    @* conectando la class de User con los campos para poderlos usar el el asp-for *@
    @model Alejandria.Models.User
    <form asp-action="Create" method="post">
        <div>
            <label asp-for="IdentificationType"></label>
            <input asp-for="IdentificationType" class="form-control" />
        </div>
        <div>
            <label asp-for="IdentificationNumber"></label>
            <input asp-for="IdentificationNumber" class="form-control" />
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div>
            <label asp-for="Gender"></label>
            <select asp-for="Gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" type="date" class="form-control" />
        </div>
        <div>
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
        </div>
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>